@charset "utf-8";

@font-face {
    font-family: Roboto;
    src: url(/Roboto/Roboto-Regular.ttf);
}

/* Reset default styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Roboto, sans-serif;
}

:root {
    font-size: 12px;
    --h1-font-size: 2.3rem;
    --nav-height: max(825px, 100vh);
    --gray-bg-color: #e2e8f0;
    --li-header-font-size: 1.75rem;
    --kerning: -0.3px;
    --small-font-size: 1.25rem;
    --blue-bg-color: #0c8dd8;
}

body {
    display: grid;
    grid-template-columns: 275px calc(100vw - 275px);
    grid-template-rows: 25% 75%;
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
    letter-spacing: var(--kerning);
}

nav {
    box-shadow: 2px 2px 2px rgb(221, 221, 221);
    height: var(--nav-height);
    grid-row: 1 / 3;
    background-color: var(--blue-bg-color);
    color: white;
}

main {
    grid-column: 2 / 3;
}

a, a:visited, a:link {
    display:block;
    text-decoration: none;
    color: inherit;
    width: 25px;
    height: 25px;
}



/* Sidebar Styles */

#dashboardIcon, .brand a:first-child {
    display: block;
    width: 40px;
    height: 40px;
}

.brand a:first-child {
    margin-right: 12px;
}

.brand {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.brand h1, .brand a:nth-child(2) {
    display: block;
    width: fit-content;
    height: fit-content;
    font-size: var(--h1-font-size);
}

.list {
    display: grid;
}

.list li {
    padding: 30px 30px 0px;
    display: flex;
    font-size: var(--li-header-font-size);
    font-weight: bold;
    align-items: center;
}

.list a:nth-child(2) {
    margin-left: 25px;
    height: fit-content;
    width: fit-content;
}

.icon {
    width: 25px;
    height: 25px;
}

.additional {
    margin-top: 40px;
}



/* Header Styles */

header {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 60% 40%;
    box-shadow: 4px 4px 4px rgb(221, 221, 221);
    box-sizing: border-box;
    padding: 15px 120px 0px 70px;
}

.container {
    display: flex;
    align-items: center;
}

.search a {
    margin-right: 20px;
}

#searchBar {
    box-sizing: border-box;
    font-size: 1.2rem;
    padding-left: 15px;
    border: none;
    background-color: var(--gray-bg-color);
    border-radius: 15px;
    width: 90%;
    height: 30px;
}

#searchBar:focus, #searchBar:focus-visible {
    outline: none;
}

.profile {
    display: flex;
    justify-content: flex-end;
    overflow-y: visible;
}

.profile a:nth-child(3) {
    width: fit-content;
    font-size: var(--li-header-font-size);
    font-weight: bold;
    margin: 0px 4em 0px 35px;
}

.profile a:first-child {
    margin-right: 40px;
}

.profile .profilePic, .profile a:nth-child(2) {
    width: 50px;
    height: 50px;
}

.greeting {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 50% 50%;
}

.greeting .profilePic{
    grid-row: 1 / 3;
    width: 80px;
    height: 80px;
    align-self: center;
    justify-self: flex-start;
}

.greeting .user {
    align-self: flex-start;
    font-size: var(--h1-font-size);
}

.greeting p {
    font-size: var(--small-font-size);
    align-self: flex-end;
    font-weight: bold;
    margin-bottom: 7px;
}

.buttons {
    align-items: center;
    justify-content: space-evenly;
}

.buttons button {
    cursor: pointer;
    margin-right: 30px;
    box-sizing: border-box;
    border: none;
    border-radius: 40px;
    background-color: var(--blue-bg-color);
    width: 140px;
    height: 55px;
    font-family: inherit;
    font-size: var(--li-header-font-size);
    color: white;
    font-weight: bold;
}