@charset "utf-8";

@font-face {
    font-family: Roboto;
    src: url(/Roboto/Roboto-Regular.ttf);
}

/* Reset default styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Roboto, sans-serif;
}

:root {
    font-size: 12px;
    --h1-font-size: 2.2rem;
    --nav-height: max(825px, 100vh);
}

body {
    display: grid;
    grid-template-columns: 275px calc(100vw - 275px);
    grid-template-rows: 20% 80%;
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
}

nav {
    height: var(--nav-height);
    grid-row: 1 / 3;
    background-color: #0c97d8;
    color: white;
    letter-spacing: -0.2px;
}

main {
    grid-column: 2 / 3;
}

a, a:visited, a:link {
    text-decoration: none;
    color: inherit;
}



/* Sidebar Styles */

#dashboardIcon, .brand a:first-child {
    display: inline;
    width: 40px;
    height: 40px;
}

.brand a {
    margin-right: 12px;
}

.brand {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.brand h1 {
    display: inline;
    font-size: var(--h1-font-size);
}

.list {
    display: grid;
}

.list li {
    padding: 30px 30px 0px;
    display: flex;
    font-size: 1.75rem;
    font-weight: bold;
    align-items: center;
}

.list a:first-child {
    width: fit-content;
    height: 25px;
}

.list a:nth-child(2) {
    margin-left: 25px;
    height: fit-content;
}

.sideBarIcon {
    width: 25px;
    height: 25px;
}

.additional {
    margin-top: 45px;
}
